--- 
import Header from '../components/Header.astro';
import LayoutRefs from '../layouts/LayoutRefs.astro';
---

<LayoutRefs title="Character Sheet">
    <Header />
    <body class="bg-scroll">
        <a href="/commissions" class="text-accent">
            <button class="btn btn-active btn-primary mx-10 mt-10 shadow-xl hover:bg-accent hover:text-white">Back to Commissions</button>
        </a> 
    </body>
</LayoutRefs>