---
import Layoutcoms from '../layouts/Layoutcoms.astro';
import Header from '../components/Header.astro';
import Swiper from '../components/Swiper.astro';

---


<Layoutcoms title="Commissions">
  <head>
        <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
 </head>
        <Header/>
        <body>
            <Swiper />
        </body>
</Layoutcoms>