---
import Layoutcoms from '../layouts/Layoutcoms.astro';
import Header from '../components/Header.astro';
import Swiper from '../components/Swiper.astro';
---


<Layoutcoms title="Commissions">
        <Header/>
        <body>
            <Swiper/>
        </body>
</Layoutcoms>