---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Typewriter from '../components/typewriter.jsx';
---

<Layout title="Asitabxlla">
	<main>
		<h1>Asitabxlla </h1> 

		<ul role="list" class="link-card-grid">

			<Typewriter client:only>
			</Typewriter>
			
			<Card
				title="Comissions"
				href="/about"
				body="Learn more about me"
		
			/>
			

		
	
</Layout>
