---
import Layout from '../layouts/Layout.astro';
import Typewriter from '../components/typewriter.jsx';
import Hero from '../components/Hero.astro';
import SocialIcon from '../components/SocialIcon.astro';
---


<Layout title="Asitabxlla">
    <main>
        <div class="flex justify-center h-screen p-5">
            <div class="max-w-md h-full bg-[#0f1825] border border-[#ff5151] p-4 rounded mr-10">
                <div class="flex justify-center items-center">
                    <img src="Perfil.jpg" alt="Me"  class="rounded-xl w-80 border-red-500 border-2">
                </div>
                <div class="text-center">
                    <Typewriter client:only/>
                </div>
				<div class="divider divider-primary"></div>
                <div class="m-5">
                    <p class="text-pretty">|ESP/ENG| (she/her)</p>
                    <p class="text-pretty">Hago dibujitos, juego a cositas y pinto moñecos cuando tengo tiempo </p>
                    
                </div>
				<div class="flex flex-row align-middle justify-center">
					<SocialIcon
						img='/btw.svg'
						socialName='Twitter'                  
					/>
					<SocialIcon
						img='/binsta.svg'
						socialName='Instagram'
					/>
					<SocialIcon
						img='/bdevian.svg'
						socialName='DeviantArt'
					/>
					<SocialIcon
						img='/bmail.svg'
						socialName='Mail'
					/>				
				</div>
            </div>
            <div class="w-1/2"> 
                <div class="">
                    <Hero
                        title=''
                        href='/comisiones'
                        img='/comissions.jpg'
                    >
                </div>
                <div class="">
                    <Hero
                        title=''
                        href='/portfolio'
                        img='/portfolio.jpg'
                    >
                </div>
            </div>
        </div>
    </main>
</Layout>