--- 
import Header from '../components/Header.astro';
import LayoutRefs from '../layouts/LayoutRefs.astro';
import Card from '../components/Card.astro';
---

<LayoutRefs title="Lineart">
     <Header />
        <body>
            <button class="btn btn-active btn-primary mx-20 mt-10">Primary</button>
            <div class="m-10 h-screen grid grid-row-3 gap-4 ">
                <Card
                title='Lineart Bust'
                img='Xayline.png'
                p="uwu"
                span='15€'/>
                <Card
                title='Lineart 1'
                img='Xayline.png'
                p="uwu"
                span='15€'/>
                <Card
                title='Lineart 1'
                img='Xayline.png'
                p="uwu"
                span='15€'/>
            </div>
            
        </body>
  
</LayoutRefs>
