--- 
import Header from '../components/Header.astro';
import LayoutRefs from '../layouts/LayoutRefs.astro';
import Card from '../components/Card.astro';
---

<LayoutRefs title="Lineart">
     <Header />
        <body>
            <div class="p-20">
                <Card
                    title="Lineart"
                    p="Lineart is a style of drawing that uses line to create a design. It"
                    img="kitsu.jpg"
                />
            </div>
            
        </body>
  
</LayoutRefs>
