--- 
import Header from '../components/Header.astro';
import LayoutRefs from '../layouts/LayoutRefs.astro';
import Card from '../components/Card.astro';
---

<LayoutRefs title="Lineart">
     <Header />
        <body>
            <div class="p-20 h-screen flex row-span-3 gap-4 ">
                <Card
                title='Lineart 1'
                img='Xayline.png'
                p="uwu"
                span='15€'/>
                <Card
                title='Lineart 1'
                img='Xayline.png'
                p="uwu"
                span='15€'/>
                <Card
                title='Lineart 1'
                img='Xayline.png'
                p="uwu"
                span='15€'/>
            </div>
            
        </body>
  
</LayoutRefs>
