--- 
import Header from '../components/Header.astro';
import LayoutRefs from '../layouts/LayoutRefs.astro';
import Footer from '../components/Footer.astro';
---


<LayoutRefs title="Potfolio">
    <Header />
    <div class="background container border border-primary rounded-md mx-auto px-4 py-8">
        <h1 class="text-6xl font-bold text-center underline decoration-primary">Terms of Service</h1>
        <p class="text-center text-2xl">By requesting a commission you accept my terms of service. 
        If you have any questions or concerns, please contact me at <a href="mailto:asiabxlla@mail.com" class="text-primary"> asiabxlla@gmail.com</a> before requesting a commission.</p>
        <div class="divider divider-primary "></div>
        <ul>
            <li class="li1 text-3xl text-white underline decoration-primary">Commission Requirements</li>
            <p class="text-2xl">I will need a detailed description of what you want me to draw.</p>
            <p class="text-2xl">If you have any reference images, please send them to me. If you don't have a solid reference you can send me a specific moodboard featuring the details of the commission and a picrew so I can understan better your vision.</p>
            <li class="li1 text-3xl text-white underline decoration-primary">Payment</li>
            <p class="text-2xl">Payment is due in full before I start working on your commission. 
            I accept payment through PayPal and Bizum (In Euros). I will send you a confirmation once we have agreed on the details of your commission.</p>
            <li class="li1 text-3xl text-white underline decoration-primary">Refunds</li>
            <p class="text-2xl">Refunds after payment depend on the stage I am at in the illustration. If I have not started the work I can return the entire payment but if the commission is at an advanced stage I will keep the percentage corresponding to the number of hours invested per stage.</p>
            <li class="li1 text-3xl text-white underline decoration-primary">Revisions</li>
            <p class="text-2xl">I will send you a sketch of the commission for approval before I start working on the final piece. You have the right to request three changes at this stage. Once I have started working on the final piece, I will only make minor changes. If you want to make major changes, I will charge an additional fee.</p>
            <li class="li1 text-3xl text-white underline decoration-primary">Rights</li>
            <p class="text-2xl">I retain the rights to the artwork I create. You can use the artwork for personal use, but you cannot sell it or use it for commercial purposes without my permission. If you want to use the artwork for commercial purposes, we can discuss licensing fees.</p>
            <p class="text-2xl">I reserve the right to refuse any commission request that I am not comfortable with or that goes against my values.</p>  
            <li class="li1 text-3xl text-white underline decoration-primary">Comunication</li> 
            <p class="text-2xl">I will keep you updated on the progress of your commission. If you have any questions or concerns, please feel free to contact me at any time.</p>
            <p class="text-2xl">My usual turnaround time is between 1 to 3 weeks. It may variate depending college season.</p>
            <li class="li1 text-3xl text-white underline decoration-primary">Contact</li>   
            <p class="text-2xl">If you have any questions or concerns, please contact me at <a href="mailto:asiabxlla@mail.com" class="text-primary"> asiabxlla@gmail.com</a></p>


        </ul>
    </div>
    <Footer />
</LayoutRefs>