---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;


---

<li class="link-card">
	<a href={href}>
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>
<style>
	.link-card {
		display: flex;
		align-items: center;
		text-align: center;
		width: 200%;
		height: 100%;
		background-repeat: no-repeat;
		list-style: none;
		display: flex;
		padding: 1px;
		background-image: url("/Miku.jpg")  ;
		background-color: #fff6f6fb;
		background-size: 200%;
		border-radius: 9px;
		background-position: 100%;
		transition: transform 1.2s ease-in-out;
		box-shadow: inset 0 0 0 1px rgba(255, 0, 119, 0.5);
	}
	.link-card > a {
		font: 1em sans-serif;
		width: 200%;
		height: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.5rem - 1px);
		border-radius: 8px;
		color: rgb(255, 255, 255);
		background-color: #241f3579;
		opacity: 0.9;
	}
	h2 {
		margin: 0;
		font-size: 2.50rem;
		transition: cubic-bezier(1, 0, 0, 1)
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	.link-card:is(:hover, :focus-within) {
		transform: scale(1.02) ;
		background-position: 0;
		background: linear-gradient(to top, #0429fdba, #fa0750cc), url("/Miku.jpg") no-repeat top center;
		opacity: 0.9;
		transition: transfom 0.8s;
		transform: scale(1.02);
		background-position: 100%;
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	
	}
</style>
