
<div class="grid grid-cols-2 md:grid-cols-4 gap-5">
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="renderstyle.png" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="star wars.png" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="Busto.PNG" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="icon.png" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="Ranni.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="Makima.png" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="Astarion.png" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="sanguinius.png" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="shart.png" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="elhoratradi.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="Chincos.png" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="ditys.jpg" alt="">
        </div>
    </div>
</div>

