<header>
    <nav class="bg-secondary border-b-4 border-primary p-2 pb-2 ">
        <div class="flex flex-wrap items-center justify-between max-w-screen-xl mx-auto p-4 logo-class">
            <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="Xay.svg" class="h-10" alt="Literally me" />
                <span class="self-center text-2xl whitespace-nowrap">Asitabxlla</span>
            </a>
            <div class="flex items-center md:order-2 space-x-1 md:space-x-2 rtl:space-x-reverse">
                <button data-collapse-toggle="mega-menu" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-primary rounded-lg md:hidden hover:bg-accent focus:outline-none 
                " aria-controls="mega-menu" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                    </svg>
                </button>
            </div>
            <div id="mega-menu" class="text-xl items-center justify-between hidden w-full md:flex md:w-auto md:order-1 menu-class">
                <ul class="flex flex-col font-medium md:flex-row md:mt-2 md:space-x-8 rtl:space-x-reverse mb-2">
                    <li>
                        <a href="/" class="block py-2 px-3 text-primary border-b border-primary hover:bg-base-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0" aria-current="page">Home</a>
                    </li>
                    <li>
                        <button id="mega-menu-dropdown-button" data-dropdown-toggle="mega-menu-dropdown" class="flex items-center justify-between w-full py-2 px-3 text-white border-b border-primary hover:bg-base-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0">
                            Commissions 
                            <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                            </svg>
                        </button>
                        <div id="mega-menu-dropdown" class="absolute z-10 grid hidden w-auto grid-cols-1 text-sm bg-base-100 border border-primary rounded-lg shadow-md md:grid-cols-1 ">
                            <div class="p-6 pb-6 text-gray-900 md:pb-4">
                                <ul class="space-y-4" aria-labelledby="mega-menu-dropdown-button">
                                    <li>
                                        <a href="/lineart" class="text-white hover:text-blue-600">
                                            Lineart Style
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/heavyinkstyle" class="text-white hover:text-blue-600">
                                            Heavy Ink Style
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/renderstyle" class="text-white hover:text-blue-600">
                                            Render Style
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/charactersheet" class="text-white hover:text-blue-600">
                                            Character Sheet
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/traditionalart" class="text-white hover:text-blue-600">
                                            Traditional Art
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="/portfolio" class="block py-2 px-3 text-white border-b border-primary hover:bg-base-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0">Portfolio</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
