---

interface Props {
	title: string;
	href: string;
    img: string;
}

const { img, href, title } = Astro.props;
---
<a href={href}>
    <div class="card w-fit bg-base-100 shadow-xl image-full mt-7 my-10  border border-primary hover:scale-105 hover:shadow-md hover:shadow-primary">
        <figure class=""><img src={img} alt={title}  class=""/></figure>
        <div class="card-body">
          <h2 class="card-title">{title}</h2>
        </div>
    </div>
</a>