---
interface Props {
    img: string
    socialName:string
    href: string
    
}
const {img, socialName, href} = Astro.props
---

<a href={href}>
    <img src={img} alt={socialName} width="90" class="mr-3 hover:scale-105 hover:shadow-md hover:shadow-primary">
</a>