---
interface Props {
    img: string
    socialName:string
    href: string
    
}
const {img, socialName, href} = Astro.props
---

<a href={href} class="">
    <div class="border rounded border-primary transform rotate-45 inline-block p-1 hover:scale-105 hover:shadow-md hover:shadow-primary m-4">
        <img src={img} alt={socialName} width="90" class="-rotate-45">
    </div>
</a>
