
<section class="main swiper mySwiper">
    <div class="wrapper swiper-wrapper">
      <div class="slide swiper-slide">
        <img src="Xayline.png" alt="" class="image" />
        <div class="image-data">
          <h2>
            Lineart <br />
            Style
          </h2>
          <a href="/lineart" class="button">Take a look!</a>
        </div>
      </div>
      <div class="slide swiper-slide">
        <img src="renderstyle.png" alt="" class="image" />
        <div class="image-data">
          <h2>
            Heavy Ink<br />
            Style
          </h2>
          <a href="/heavyinkstyle" class="button">Take a look!</a>
        </div>
      </div>
      <div class="slide swiper-slide">
        <img src="star wars.png" alt="" class="image" />
        <div class="image-data">
          <h2>
            Rendered<br />
            Style
          </h2>
          <a href="/renderstyle" class="button">Take a look!</a>
        </div>
      </div>
      <div class="slide swiper-slide">
        <img src="Concept.png" alt="" class="image" />
        <div class="image-data">
          <h2>
            Character<br />
            Sheet
          </h2>
          <a href="/charactersheet" class="button">Take a look!</a>
        </div>
      </div>
      <div class="slide swiper-slide">
        <img src="elhoratradi.jpg" alt="" class="image" />
        <div class="image-data">
          <h2>
            Traditional<br />
            Art
          </h2>
          <a href="/traditionalart" class="button">Take a look!</a>
        </div>
      </div>
     </div>
   
  </div>
  </div>

    <div class="swiper-button-next nav-btn"></div>
    <div class="swiper-button-prev nav-btn"></div>
    <div class="swiper-pagination"></div>
  </section>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script>
        import 'swiper/css';
        import Swiper from 'swiper';
        import { register } from 'swiper/element/bundle';
        register();

     var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        loop: true,
        autoplay: {
          delay: 5000,
          disableOnInteraction: false,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
  </script>


</body>