---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="asitabxlla" content="asitabxlla website" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="Xay.svg" />
		<meta name="frontpage" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jura&family=Michroma&display=swap" />

	</head>
	<body class="bg-[url('/fondo.png')] flex">
		<slot />
	</body>
</html>
<style is:global>

	body {
		
		background-color: #172439;
		background-size: cover;
		background-repeat: no-repeat;
		overflow-y: hidden;
	}
	@media (max-width: 768px) {
		body {
			overflow: auto; 
			padding: auto;
		}
		}

	p {
		font-size: 1.35rem;
		font-family: "Jura", sans-serif;
		color: rgb(255, 255, 255);
		font-weight: normal;
	}

	.typewriter {
		font-size: 2rem;
		font-family: "Michroma", sans-serif;
		color: rgb(255, 255, 255);
		font-weight: bold;
	}
	@keyframes typing {
		from { width: 0 }
		to { width: 100% }
	}

	.myCursor {
 		 animation: blink 1s infinite;
		 color: #FF5151;
		 font-size: 2rem;
		 font-weight: bold;
		 font-family:sans-serif;
	}
		@keyframes blink {
		0% { opacity: 1; }
		50% { opacity: 0; }
		100% { opacity: 1; }
		}
		
	.socialcard {
		border-radius: 11px;
		padding: 45px;
		margin: 50px;
		margin-left: 13%;
		margin-top: 15px;
		margin-bottom: 4%;
		align-self: center;
		width: 900px;
		height: 850px;
	}
	@media screen and (max-width: 768px) {
		.socialcard {
			margin-left: 15%;
			width: 90%;
		}
		
	}
	
	.artcard	{
		border-radius: 11px;
		margin: 50px;
		margin-top: 30px;
		margin-bottom: 4%;
		align-self: center;
		width: 1200px;
		height: auto;
	}
	@media screen and (max-width: 768px) {
		.artcard {
			margin-left: 15%;
			width: 90%;
		}
		
	}
	
	.socialicon {

	}
	@media screen and (max-width: 768px) {
		.socialicon {
			flex-direction: row;
			justify-content: center;
			align-items: center;
			width: 120%;
			margin-left: -10%;
		}
		
	}
	
</style>

