---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="Xay.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jura&family=Michroma&display=swap" />
		<link rel="stylesheet" href="/css/swiper-bundle.min.css" />
	</head>
	<body class="background-class bg-[url('/fondovert.png')] ">
		<slot />
	</body>
	<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
</html>

<style is:global>

    body {
		background-color: #172439;
		background-size: cover;
		background-repeat: repeat-x;
	}

    h2 {
        font-family: "Michroma", sans-serif;
        color: rgb(255, 255, 255);
        font-weight: bold;
    }

	h5 {
		font-family: "Jura", sans-serif;
	}

	.card {
		margin: 15%;
		margin-top: 0%;
		margin-bottom: 0%;
	}
	@media screen and (max-width: 768px){
		.card {
			margin: 0%;
		}
		
	}

	span {
		font-family: "Jura", sans-serif;
	}

	ul {
		font-size: 20px;
		font-family: "Jura", sans-serif;
		color: rgb(255, 255, 255);
		font-weight: normal;
	}
	
	.btn{
		font-family: "Jura", sans-serif;
	}

	.logo-class{
		font-family: "Michroma", sans-serif;
	}

	.menu-class{
		font-family: "Michroma", sans-serif;
	}

</style>