---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="Xay.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jura&family=Michroma&display=swap" />
		<link rel="stylesheet" href="/css/swiper-bundle.min.css" />
	</head>
	<body class="background-class bg-[url('/fondovert.png')] ">
		<slot />
	</body>
	<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
</html>

<style is:global>

    body {
		background-color: #172439;
		background-size: cover;
		background-repeat: repeat-x;
	}

    h2 {
        font-family: "Michroma", sans-serif;
        color: rgb(255, 255, 255);
        font-weight: bold;
    }

	h5 {
		font-family: "Jura", sans-serif;
		font-size: 4rem;
	}

	.cscard {
		margin: 15%;
		margin-top: 0%;
		margin-bottom: 0%;
	}

	.card {
		margin: 15%;
		margin-top: 0%;
		margin-bottom: 0%;
	}
	@media screen and (max-width: 768px){
		.card {
			margin: 0%;
		}
	}

	.span1 {
		font-family: "Jura", sans-serif;
	}

	.ul2 {
		font-family: "Jura", sans-serif;
		color: rgb(255, 255, 255);
		font-weight: normal;
	}
	
	.body-text{
		font-family: "Jura", sans-serif;
		color: rgb(255, 255, 255);
		font-weight: normal;
	}

	.btn1 {
		display: inline-flex;
		height: 3rem/* 48px */;
		min-height: 3rem/* 48px */;
		flex-shrink: 0;
		cursor: pointer;
		user-select: none;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		border-radius: var(--rounded-btn, 0.5rem/* 8px */);
		border-color: transparent;
		border-color: oklch(var(--btn-color, var(--b2)) / var(--tw-border-opacity));
		padding-left: 1rem/* 16px */;
		padding-right: 1rem/* 16px */;
		text-align: center;
		font-size: 1.8rem/* 14px */;
		font-family: 'Jura', sans-serif;
		line-height: 1em;
		gap: 0.5rem/* 8px */;
		transition-duration: 200ms;
		transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
		border-width: var(--border-btn, 1px);
		animation: button-pop var(--animation-btn, 0.25s) ease-out;
		transition-property: color, background-color, border-color, opacity, box-shadow, transform;
		--tw-text-opacity: 1;
		color: var(--fallback-bc,oklch(var(--bc)/var(--tw-text-opacity)));
		--tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
		--tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
		box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
		outline-color: var(--fallback-bc,oklch(var(--bc)/1));
		background-color: oklch(var(--btn-color, var(--b2)) / var(--tw-bg-opacity));
		--tw-bg-opacity: 1;
		--tw-border-opacity: 1;
		background-color: #ff5151;
		color: #fff;
	}
	@media screen and (max-width: 768px){
		.btn1 {
			font-size: 1.5rem/* 14px */;
			margin-left: 10%;
		}
		
	}

	.btn{
		font-family: "Jura", sans-serif;
		font-size: 2rem;
	}

	.logo-class{
		font-family: "Michroma", sans-serif;
	}

	.menu-class{
		font-family: "Michroma", sans-serif;
	}

</style>